.slideContainer {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.slide {
  flex: 0 0 50%;
  margin-left: 250px;
}

.imageContainer {
  display: flex;
  align-items: center;
}

.mySlides {
  border: solid 3px white;
  border-radius: 10px;
  max-width: 200px;
}

.slideText {
  overflow: auto;
  margin-left: 10px;
  border: solid 3px white;
  border-radius: 10px;
  background-color: var(--clr-hu-notif-grad);
  padding: 5px;
  font-size: 15px;
  width: 250px;
  text-align: center;
}
