.sdg_slideshow {
    display: flex;
    flex-direction: column;
    border: 5px solid #f5f2f5;
    border-radius: 20px;
    background-color: #c8dea5fa;
    padding: 10px;
    overflow: hidden;
}

.max_width {
    max-width: 300px;
    min-width: 300px;
    /* Adjust width as needed */
}

.mySlides {
    display: none;
    border: solid 3px white;
    border-radius: 10px;
}

/* image display */
.display_block {
    display: block;
}

.title {
    font-size: 18px;
    margin-bottom: 10px;
}

.slideText {
    height: 100px; /* Set a fixed height for the slide text */
    overflow: auto; /* Add overflow property to enable scrolling if text exceeds height */
    margin-top: 10px;
    border: solid 3px white;
    border-radius: 10px;
    background-color: grey;
    text-align: center;
    padding: 5px;
    font-size: 15px;
}

