.main {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  padding: 6rem;
  min-height: 100vh;
}

.getal {
  color: red;
}












